<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868358513641-89g2ptju5q78ileivldemipnqpab4jqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868358513641-89g2ptju5q78ileivldemipnqpab4jqe</string>
	<key>API_KEY</key>
	<string>AIzaSyBeJUohd6HaFyc3OtSyE50R1kf7BsAPJOE</string>
	<key>GCM_SENDER_ID</key>
	<string>868358513641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.com.kenny.shone.mlkitApp</string>
	<key>PROJECT_ID</key>
	<string>mlkit-app-8235d</string>
	<key>STORAGE_BUCKET</key>
	<string>mlkit-app-8235d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868358513641:ios:897f60892208e3f1f7e178</string>
</dict>
</plist>